<?php
use Evenement\EventEmitterInterface;
use expect\peridot\ExpectPlugin;
use Peridot\Concurrency\ConcurrencyPlugin;
use Peridot\Plugin\Watcher\WatcherPlugin;
use Peridot\Reporter\CodeCoverage\AbstractCodeCoverageReporter;
use Peridot\Reporter\CodeCoverageReporters;

return function (EventEmitterInterface $emitter) {
    $coverage = new CodeCoverageReporters($emitter);

    $coverage->register();

    $emitter->on('code-coverage.start', function (AbstractCodeCoverageReporter $reporter) {
        $reporter->addDirectoryToWhitelist(__DIR__ . '/src');
    });

    $concurrency = new ConcurrencyPlugin($emitter);
    $watcher     = new WatcherPlugin($emitter);

    $watcher->track(__DIR__ . '/src');

    $expect = ExpectPlugin::create();

    $expect->registerTo($emitter);
};
